.h1{
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 0;
  padding: 0 0 6px 0;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
  text-align: center;
}
.gameWindows{
  background: gray;
  max-width: 1200px;
  border-style: groove;
  border-color: coral;
  border-width: 7px;
  padding: 5px;
  position: relative;
  touch-action: none;
}

.parts{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;

}


.parts{
  height: auto;
}
#bombDrop{
  width: 97px;
  height: 87px;
  position: absolute;
 margin-right: auto;
  top: 63.1%;
  left: 82.40%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bomb{
  position: absolute;
  left:0; top:20%;
  animation: bombAnime 5s linear 2s infinite alternate;
}
@keyframes bombAnime {
  0%   { position: absolute; left:0; top:20%;}
  25%  {left:30%; top:-130%;}
  50%  {  left:50%; top:-150%;}
  75%  { left:82.40%;  top:-160%;}
  100% { left:82.40%;   top: -190%;}
}
#ctPanakDrop{
  width: 37px;
  height: 84px;
  position: absolute;
  margin-right: auto;
  top: 45%;
  left: 55.1%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ctPanak{
  position: absolute;
  left:10%; top:10%;
  animation: ctPanakAnime 5s linear 2s infinite alternate;
}
@keyframes ctPanakAnime {
  0%   { position: absolute; left:10%; top:10%;}
  25%  {left:15%; top:-160%;}
  50%  { left:25%; top:-200%;}
  75%  { left:55.1%;  top:-250%;}
  100% { left: 55.1%;   top: -277%;}
}
#hlava1Drop{
  width: 96px;
  height: 116px;
  position: absolute;
  margin-right: auto;
  top: 40.5%;
  left: 34.6%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hlava1{
  position: absolute;
  left:20%; top:10%;
  animation: hlava1Anime 5s linear 2s infinite alternate;
}
@keyframes hlava1Anime {
  0%   { position: absolute; left:20%; top:10%;}
  25%  {left:20%; top:-100%;}
  50%  { left:30%; top:-230%;}
  75%  { left:34.6%;  top:-260%;}
  100% { left: 34.6%;   top: -293%;}
}
#hlava2Drop{
  width: 115px;
  height: 111px;
  position: absolute;
  margin-right: auto;
  top: 40.8%;
  left: 80.4%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hlava2{
  position: absolute;
  left:30%; top:10%;
  animation: hlava2Anime 5s linear 2s infinite alternate;
}
@keyframes hlava2Anime {
  0%   { position: absolute; left:30%; top:10%;}
  25%  {left:35%; top:-130%;}
  50%  { left:50%; top:-280%;}
  75%  { left:80.4%;  top:-270%;}
  100% { left: 80.4%;   top: -293%;}
}
#lampaDrop{
  width: 38px;
  height: 47px;
  position: absolute;
  margin-right: auto;
  top: 28.5%;
  left: 57.5%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lampa{
  position: absolute;
  left:45%; top:30%;
  animation: lampaAnime 5s linear 2s infinite alternate;
}
@keyframes lampaAnime {
  0%   { position: absolute; left:45%; top:30%;}
  25%  {left:42%; top:-150%;}
  50%  { left:50%; top:-300%;}
  75%  { left:57.5%;  top:-340%;}
  100% { left: 57.5%;   top: -355%;}
}
#nozikDrop{
  width: 77px;
  height: 66px;
  position: absolute;
  margin-right: auto;
  top: 50.5%;
  left: 73.3%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nozik{
  position: absolute;
  left:50%; top:30%;
  animation: nozikAnime 5s linear 2s infinite alternate;
}
@keyframes nozikAnime {
  0%   { position: absolute; left:55%; top:50%;}
  25%  {left:55%; top:-100%;}
  50%  { left:60%; top:-180%;}
  75%  { left:73.3%;  top:-220%;}
  100% { left: 73.3%;   top: -250%;}
}
#okulareDrop{
  width: 62px;
  height: 26px;
  position: absolute;
  margin-right: auto;
  top: 46.2%;
  left: 19.9%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.okulare{
  position: absolute;
  left:60%; top:50%;
  animation: okulareAnime 5s linear 2s infinite alternate;
}
@keyframes okulareAnime {
  0%   { position: absolute; left:60%; top:50%;}
  25%  {left:40%; top:-100%;}
  50%  { left:30%; top:-180%;}
  75%  { left:19.9%;  top:-260%;}
  100% { left: 19.9%;   top: -271%;}
}
#ruskoDrop{
  width: 131px;
  height: 130px;
  position: absolute;
  margin-right: auto;
  top: 51.4%;
  left: 58%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.rusko{
  position: absolute;
  left:68%; top:0;
  animation: ruskoAnime 5s linear 2s infinite alternate;
}
@keyframes ruskoAnime {
  0%   { position: absolute; left:68%; top:0;}
  25%  {left:65%; top:-100%;}
  50%  { left:62%; top:-180%;}
  75%  { left: 58%;  top:-230%;}
  100% { left: 58%;   top: -248%;}
}
#sipkaDrop{
  width: 48px;
  height: 116px;
  position: absolute;
  margin-right: auto;
  top: 22.8%;
  left: 35.9%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

}
.sipka{
  position: absolute;
  left:80%; top:0;
  animation: sipkaAnime 5s linear 2s infinite alternate;
}
@keyframes sipkaAnime {
  0%   { position: absolute; left:80%; top:0;}
  25%  {left:65%; top:-200%;}
  50%  { left:62%; top:-250%;}
  75%  { left: 35.9%;  top:-350%;}
  100% { left: 35.9%;   top: -380%;}
}
#zbranDrop{
  width: 83px;
  height: 68px;
  position: absolute;
  margin-right: auto;
  top: 56%;
  left: 1.5%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.zbran{
  position: absolute;
  left:85%; top:0;
  animation: zbranAnime 5s linear 2s infinite alternate;
}
@keyframes zbranAnime {
  0%   { position: absolute; left:85%; top:0;}
  25%  {left:50%; top:-50%;}
  50%  { left:20%; top:-100%;}
  75%  { left: 1.5%;  top:-200%;}
  100% { left: 1.5%;   top: -222%;}
}
#zbran2Drop{
  width: 81px;
  height: 119px;
  position: absolute;
  margin-right: auto;
  top: 32.1%;
  left: 44.7%;
  offset: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.zbran2{
  position: absolute;
  left:90%; top:0;
  animation: zbran2Anime 5s linear 2s infinite alternate;
}
@keyframes zbran2Anime {
  0%   { position: absolute; left:90%; top:0;}
  25%  {left:80%; top:-100%;}
  50%  { left:60%; top:-180%;}
  75%  { left: 44.7%;  top:-320%;}
  100% { left: 44.7%;   top: -337%;}
}
.result{
  position: absolute;
  left: 40%;
  top: 50%;
  background-color: yellow;
  font-size: 20px;
}
#buttons{

  text-align: center;
}
#timer{
  position: absolute;
  top: 11%;
  left: 1%;
  color: black;
  font-size: medium;
  background: yellow;
}
#ruskoH{
  visibility: hidden;
}
#volume{
  width: 20%;
}
@media screen and (max-width: 810px){
  #bombDrop{left: 82.20%;}
}
@media screen and (max-width: 500px){
  .result{font-size: 10px}
  #bombDrop{left: 81.9%;}
}
@media screen and (max-height: 740px){
  #timer{
    top: 11%!important;
  }
}
@media screen and (max-height: 613px){
  #timer{
    top: 15%!important;
  }
}
@media screen and (max-height: 450px){

  #timer{
    top: 19%!important;
  }
}
@media screen and (max-height: 340px){
  #timer{
    top: 28%!important;
  }
}
@media screen and (max-height: 400px){
  #timer{
    top: 11%;
  }
}
@media screen and (max-width: 400px){
  #timer{
    top: 9%;
  }
  #volume{
    width: 30%!important;
  }
  #bombDrop{left: 81.7%;
    top: 63%;}
}
@media screen and (max-width: 300px){
  #bombDrop{left: 81.6%;}
}
.bombCorrect{
  background-image: url("../img/peterObrazok/parts/bomba.png");
}
.ctPanakCorrect{
  background-image: url("../img/peterObrazok/parts/csgoPanakPrec.png")
}
.hlava1Correct{
  background-image: url("../img/peterObrazok/parts/hlava1.png")
}
.hlava2Correct{
  background-image: url("../img/peterObrazok/parts/hlava2.png")
}
.lampaCorrect{
  background-image: url("../img/peterObrazok/parts/lampa.png")
}
.nozikCorrect{
  background-image: url("../img/peterObrazok/parts/nozik.png")
}
.okulareCorrect{
  background-image: url("../img/peterObrazok/parts/okulare.png")
}
.ruskoCorrect{
  background-image: url("../img/peterObrazok/parts/rusko.png")
}
.sipkaCorrect{
  background-image: url("../img/peterObrazok/parts/sipka.png")
}
.zbranCorrect{
  background-image: url("../img/peterObrazok/parts/zbran.png")
}
.zbran2Correct{
  background-image: url("../img/peterObrazok/parts/zbran2.png")
}
#parts{
  margin-bottom: 25px;
}
.btn{
  margin-top: 10px;
}
.n{
  text-align: left;
  padding-bottom: 5px;
}
.d{
  padding-bottom: 50px;
}
.bold{
  font-weight: bold;
}
.volume{
  position: absolute;
  top: 1%;
  left: 1%;
}
.volumeLabel{
  width: 15%;
  height: 15%;
}


