body{
    background-color: antiquewhite;
}

.middle{
    background-color: burlywood;
    opacity: 0.95;
}

.noStyle{
    text-decoration: none;
    color: snow;
}

.noStyle:hover{
    text-decoration: none;
    color: snow;
    cursor: pointer;
}

.mainTitle{
    list-style: none;
    padding-left: 20px;
    color: snow;
    background-color: #333333;
    padding-top: 18px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    height: 65px;   /* 100 pre sviatok */
}

#fotoIcon{
    padding-right: 15px;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: snow;
    background-color: #333333;
    text-align: center;
}
.time,#nameDay,#time{
    float: right;
    padding-right: 10px;
    font-size: medium;
}
#feastDay{
    display: none;
    float: left;
}

h2{
    float: left;
}

.smImgDiv{
    z-index: 1;
    position: absolute;
    top: 120px;
    width: auto;
    height: 305px;
    /*background-color: azure;*/
    text-align: center;
    display: none;
    /*background-color: #0a5275;*/
    margin-left: 255px;
    margin-top: auto;
    margin-bottom: auto;
}

.smImg{
    width: 400px;
    height: 300px;
    object-fit: cover;
    z-index: 1;
    border: 6px solid dimgray;
    border-radius: 6px;
}


@media screen and (max-width: 390px){
    #nameDay{
        font-size: 11px;
    }
}
@media screen and (max-width: 310px){
    h2,.time,#feastDay,#time{
        font-size: 12px;
    }
    #nameDay{
        font-size: 7px;
    }
}

.wrapper{
    min-width: 240px;
}
.name{
    color: red;
}
