h1{
    color: dimgray;
}

#poziciaCelnehoSkla{
    position: absolute;
    right: 508px;
    top: 114px;
    width: 740px;
    height: 245px;

    /*background-image: url("../img/eImg/celneSklo.png");*/
}

#objectCelneSklo{
    background-image: url("../img/eImg/celneSklo.png");
    width: 740px;
    height: 245px;
}

#poziciaMasky{
    /*background-image: url("../img/eImg/maska.png");*/
    position: absolute;
    top: 493px;
    left: 277px;
    width: 404px;
    height: 91px;

    z-index: 10;
}

#objectMaska{
    background-image: url("../img/eImg/maska.png");
    width: 404px;
    height: 91px;;
    z-index: 10;
}

#poziciaEmblemu{
    /*background-image: url("../img/eImg/emblem.png");*/
    position: absolute;
    top: 513px;
    left: 437px;
    width: 53px;
    height: 49px;

    z-index: 11;
}

#objectEmblem{
    background-image: url("../img/eImg/emblem.png");
    width: 53px;
    height: 49px;
    z-index: 11;
}

#poziciaSkyWindow{
    /*background-image: url("../img/eImg/skywindow.png");*/
    position: absolute;
    top: 47px;
    left: 635px;
    width: 563px;
    height: 83px;

}

#objectSkyWindow{
    background-image: url("../img/eImg/skywindow.png");
    width: 563px;
    height: 83px;
}

#poziciaSvetiel{
    /*background-image: url("../img/eImg/svetla.png");*/
    position: absolute;
    top: 460px;
    left: 120px;
    width: 828px;
    height: 123px;

}

#objectSvetla{
    background-image: url("../img/eImg/svetla.png");
    width: 828px;
    height: 123px;
}

#poziciaChladenia{
    /*background-image: url("../img/eImg/chladenie.png");*/
    position: absolute;
    top: 625px;
    left: 111px;
    width: 828px;
    height: 152px;

}

#objectChladenie{
    background-image: url("../img/eImg/chladenie.png");
    width: 828px;
    height: 152px;
}

#poziciaZrkadla{
    /*background-image: url("../img/eImg/zrkadlo.png");*/
    position: absolute;
    top: 322px;
    left: 269px;
    width: 79px;
    height: 52px;

}

#objectZrkadlo{
    background-image: url("../img/eImg/zrkadlo.png");
    width: 79px;
    height: 52px;
}

#poziciaPrednychDveri{
    /*background-image: url("../img/eImg/dverePredne.png");*/
    position: absolute;
    top: 102px;
    left: 1100px;
    width: 219px;
    height: 580px;

}

#objectPredneDvere{
    background-image: url("../img/eImg/dverePredne.png");
    width: 219px;
    height: 580px;
}

#poziciaZadnychDveri{
    /*background-image: url("../img/eImg/dvereZadne.png");*/
    position: absolute;
    top: 102px;
    left: 1178px;
    width: 245px;
    height: 559px;

}

#objectDvereZadne{
    background-image: url("../img/eImg/dvereZadne.png");
    width: 245px;
    height: 559px;
}

.hlavnyObrazok{
    position: relative;
    width: 1600px;
    height: 1050px;
    background-image: url("../img/eImg/naDiely.png");
    margin: auto auto auto auto;
}

.plus5{
    z-index: 5;
}

.plus1{
    z-index: 1;
}

.fill{
    position: relative;
    cursor: pointer;
}

.empty{
    /*display: inline-block;*/
}

.hold{
    border: solid #ccc 4px;
}

.hovered{
    background: #f4f4f4;
    border-style: dashed;
}

.invisible{
    display: none;
}

.movable{
    cursor: pointer;
    float: left;
}
