h1{
    color: dimgray;
}

#poziciaCelnehoSkla{
    position: absolute;
    right: 508px;
    top: 114px;
    width: 740px;
    height: 245px;
    /*opacity: 30%;*/
}

#objectCelneSklo{
    background-image: url("../img/eImg/celneSklo.png");
    width: 740px;
    height: 245px;
}

#poziciaMasky{
    position: absolute;
    top: 493px;
    left: 277px;
    width: 404px;
    height: 91px;

}

#objectMaska{
    background-image: url("../img/eImg/maska.png");
    width: 404px;
    height: 91px;;
}

#poziciaEmblemu{
    position: absolute;
    top: 513px;
    left: 437px;
    width: 740px;
    height: 245px;

}

#poziciaSkyWindow{
    position: absolute;
    top: 47px;
    left: 635px;
    width: 740px;
    height: 245px;

}

#poziciaSvetiel{
    position: absolute;
    top: 460px;
    left: 120px;
    width: 740px;
    height: 245px;

}

#poziciaChladenia{
    position: absolute;
    top: 625px;
    left: 111px;
    width: 740px;
    height: 245px;

}

#poziciaPrednychDveri{
    position: absolute;
    top: 102px;
    left: 269px;
    width: 740px;
    height: 245px;

}

#poziciaZadnychDveri{
    position: absolute;
    top: 102px;
    left: 1178px;
    width: 740px;
    height: 245px;

}

.hlavnyObrazok{
    position: relative;
    width: 1600px;
    height: 1050px;
    background-image: url("../img/eImg/naDiely.png");
    margin: auto auto auto auto;
}

.plus5{
    z-index: 5;
}

.plus1{
    z-index: 1;
}

.fill{
    position: relative;
    cursor: pointer;
}

.empty{
    display: inline-block;
}

.hold{
    border: solid #ccc 4px;
}

.hovered{
    background: #f4f4f4;
    border-style: dashed;
}

.invisible{
    display: none;
}
