h1{
    color: dimgray;
}

#positionWindow{        /*8*/
    position: absolute;
    right: 508px;
    top: 114px;
    width: 740px;
    height: 245px;
    opacity: 30%;
    background-image: url("../img/eImg/celneSklo.png");
    z-index: 1;
}

#objectWindow{          /*6*/
    background-image: url("../img/eImg/celneSklo.png");
    width: 740px;
    height: 245px;
    z-index: 2;
}

#positionFrontGrill{
    background-image: url("../img/eImg/maska.png");
    position: absolute;
    top: 493px;
    left: 277px;
    width: 404px;
    height: 91px;
    opacity: 30%;
    z-index: 10;
}

#objectFrontGrill{
    background-image: url("../img/eImg/maska.png");
    width: 404px;
    height: 91px;;
    z-index: 10;
}

#positionEmblem{
    background-image: url("../img/eImg/emblem.png");
    position: absolute;
    top: 513px;
    left: 437px;
    width: 53px;
    height: 49px;
    opacity: 30%;
    z-index: 11;
}

#objectEmblem{
    background-image: url("../img/eImg/emblem.png");
    width: 53px;
    height: 49px;
    z-index: 11;
}

#positionSkyWindow{
    background-image: url("../img/eImg/skywindow.png");
    position: absolute;
    top: 47px;
    left: 635px;
    width: 563px;
    height: 83px;
    opacity: 30%;
}

#objectSkyWindow{
    background-image: url("../img/eImg/skywindow.png");
    width: 563px;
    height: 83px;
}

#positionHeadLights{
    background-image: url("../img/eImg/svetla.png");
    position: absolute;
    top: 460px;
    left: 120px;
    width: 828px;
    height: 123px;
    opacity: 30%;
}

#objectHeadLights{
    background-image: url("../img/eImg/svetla.png");
    width: 828px;
    height: 123px;
}

#positionCooler{
    background-image: url("../img/eImg/chladenie.png");
    position: absolute;
    top: 625px;
    left: 111px;
    width: 828px;
    height: 152px;
    opacity: 30%;
}

#objectCooler{
    background-image: url("../img/eImg/chladenie.png");
    width: 828px;
    height: 152px;
}

#positionMirror{
    background-image: url("../img/eImg/zrkadlo.png");
    position: absolute;
    top: 322px;
    left: 269px;
    width: 79px;
    height: 52px;
    opacity: 30%;
}

#objectMirror{
    background-image: url("../img/eImg/zrkadlo.png");
    width: 79px;
    height: 52px;
}

#positionFrontDoor{
    background-image: url("../img/eImg/dverePredne.png");
    position: absolute;
    top: 102px;
    left: 1100px;
    width: 219px;
    height: 580px;
    opacity: 30%;
}

#objectFrontDoor{
    background-image: url("../img/eImg/dverePredne.png");
    width: 219px;
    height: 580px;
}

#positionRearDoor{
    background-image: url("../img/eImg/dvereZadne.png");
    position: absolute;
    top: 102px;
    left: 1178px;
    width: 245px;
    height: 559px;
    opacity: 30%;
}

#objectRearDoor{
    background-image: url("../img/eImg/dvereZadne.png");
    width: 245px;
    height: 559px;
}

.hlavnyObrazok{
    position: relative;
    width: 1600px;
    height: 1050px;
    background-image: url("../img/eImg/naDiely3.png");
    margin: auto auto auto auto;
}

.plus5{
    z-index: 5;
}

.plus1{
    z-index: 1;
}

.fill{
    position: relative;
    cursor: pointer;
}

.invisible{
    display: none;
}

.movable{
    cursor: pointer;
    float: left;
}

#congrats{
    z-index: -1;
   /* width: fit-content;*/
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 100px;
    top: 100px;
    display: none;
    width: 1600px;
}

#c1{
    color: snow;
    background-color: forestgreen;
}

#c2{
    color: #333333;
    background-color: white;
}

#c3{
    color: snow;
    background-color: red;
}

.flagPart{
    height: 1050px;
    width: 533px;
    text-align: center;
    float: left;
}

#stiloAssemblyCounter{
    position: fixed;
    left: 10px;
    top: 75px;
}

#gin{
    position: absolute;
    top: 3px;
    left: 300px;
    cursor: pointer;
}

#man{
    position: absolute;
    top: 3px;
    left: 400px;
    cursor: pointer;
}
