h1 {
    color: red;

}

#div1 {
    width: 1392px;
    height: 783px;
    border: 1px solid #aaaaaa;
    z-index: 0;
    float: none;
    background-image: url("../img/lukasObrazok/hraPozadie.png");
}

#div2 {
    width: 1392px;
    height: 783px;
    border: 1px solid #aaaaaa;
    z-index: 0;
    float: none;
    display: none;
    color: white;
    text-align: center;
    background-image: url("../img/lukasObrazok/hraObrazok.jpg");
}

#blahozelanie{
    font-family: "Droid Sans";
    font-weight: bolder;
    font-size: xx-large;
}

#kladivoOK {
    position: absolute;
    left: 560px;
    width: 409px;
    height: 142px;


}
/*
#rukaB{

    position: absolute;
    animation: rukaBAnime 5s linear 2s infinite alternate;
}
@keyframes rukaBAnime {
    25% { left: 550px; top: 1000px;}
    50% { left: 550px; top: 320px }
    75% { left:600px;  top:300px;}
    to  { left:632px;  top:257px;}

}
*/
#rukaBOK {
    position: absolute;
    left: 632px;
    top: 257px;
    width: 135px;
    height: 178px;

}

#teloBOK {
    position: absolute;
    left: 673px;
    top: 345px;
    width: 290px;
    height: 180px;
}

#hlavaBOK {
    position: absolute;
    left: 757px;
    top: 275px;
    width: 105px;
    height: 109px;

}

#rukaOPOK {
    position: absolute;
    left: 649px;
    top: 435px;
    width: 362px;
    height: 198px;

}

#rukaBCOK {
    position: absolute;
    left: 908px;
    top: 475px;
    width: 182px;
    height: 235px;

}

#nohaBOK {
    position: absolute;
    left: 779px;
    top: 571px;
    width: 198px;
    height: 318px;

}

#hlavaOOK {
    position: absolute;
    left: 519px;
    top: 447px;
    width: 171px;
    height: 188px;

}

#teloOPOK {
    position: absolute;
    left: 497px;
    top: 610px;
    width: 391px;
    height: 341px;

}

#rukaOP2OK {
    position: absolute;
    left: 305px;
    top: 575px;
    width: 277px;
    height: 354px;

}

#cas{
    width: 100%;
    text-align: center;

}
button{
    width: 100%;

}

#animaciaOkno{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: white;
    font-size: large;
    background-color: rgba(0,0,0,0.9);
}


#animacia{
    height:80%;
    width:80%;
}
#tlacidlo1{
    background-color: lime;
}
#tlacidlo2{
    background-color: fuchsia;
}
#tlacidlo3{
    background-color: crimson;
}

#close2{
    background-image: url("../img/icons/close.png");
    background-color: red;
    top: 10px;
    right: 10px;
}
h2{
    float: left;

    color: red;
}
#navod{
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     align-items: center;
     text-align: center;
     width: 100%;
     height: 100%;
     overflow: auto;
     color: white;
     font-size: large;
     background-color: rgba(0,0,0,0.9);
 }

#navodik{
    position: fixed;
    text-align: left;
    left: 145px;
}
span{
    color: blue;
}