h1{
    color: red;
}

#div1 {
    width: 1392px;
    height: 783px;
    border: 1px solid #aaaaaa;
    z-index: 0;
    float: inside;
    background-image: url("../img/lukasObrazok/hraPozadie.png");
}


#kladivoOK{
    position: absolute;
    left: 560px;
    width: 409px;
    height: 142px;

}