.h1{
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 0;
  padding: 0 0 6px 0;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
  text-align: center;
}
.container{
  background: gray;
  max-width: 1200px;
  border-style: groove;
  border-color: coral;
  border-width: 7px;
  padding: 5px;
}
.gamePicture{
  max-width: 100%;
  height: auto;
}/* takto?
.parts{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;

  background-image: url(../img/peterObrazok/parts/bomba.png);
}*/
.parts{
  height: auto;
}